#grid {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto 1fr;
}

.cabecalho {
    background-color: rgb(78, 94, 44);
    grid-column: 1 / -1;
    padding: 0;
    height: 150px;
}

.menu {
    grid-column: 1 / -1;
    padding: 10px;
    background-color: rgb(72, 72, 156);
}

.informacao {
    grid-column: 1 / -1;
    padding: 10px;
}

.rodape_layout {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    background-color: rgb(72, 72, 156);
}

.dye {
    background-color: pink;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(19, 103, 19);
    margin: 0;
}

.tiktok,
.instagram,
.telefone {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    color: aqua;


}

footer {
    grid-column: 1 / -1;
}

.link:hover {
    color: rgb(0, 34, 255);
    text-decoration: underline;
}

.link {
    color: aqua;
}

nav li {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav ul {

    margin: 0;
    padding: 0;
    display: flex;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bloco {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.bloco img {
    width: 300px;
}

.bloco_reverso {
    flex-direction: row-reverse;
}

p {
    font-size: x-large;
}